body {
    font-size: 62.5%;
    font-family: "Trebuchet MS", Arial;
    color: #666;
    width: 960px;
    text-align: center;
    margin: 0 auto;
    background-image: url(img/fondobody.png);
    background-repeat: repeat-x;
    background-position: left top;
}

sup {
    font-size: .7em;
    vertical-align: super;
}


/*Cabecera*/

#cabecera {}

#cabecera h1 {
    float: left;
    display: inline;
    margin-top: 41px;
    margin-left: 16px;
    width: 367px;
    height: 40px;
    background-image: url(img/logotipo.png);
    background-repeat: no-repeat;
}

#cabecera h1.eu {
    background-image: url(img/logotipoeu.png);
    width: 463px;
}

#cabecera h1 a {
    text-indent: -9999px;
    width: 367px;
    height: 40px;
    display: block;
}

#cabecera h2 {
    float: right;
    display: inline;
    margin-top: 58px;
    margin-right: 6px;
    text-align: right;
    color: #CCCCCC;
    font-size: 1.2em;
}

#cabecera h2 a {
    color: #CCCCCC;
}


/*Contenido en dos columnas*/

#izquierda {
    clear: both;
    float: left;
    display: inline;
    width: 464px;
    text-align: left;
    padding-top: 70px;
    padding-left: 16px;
    margin-bottom: 15px;
}

#izquierda.energia {
    height: 198px;
    background: url(img/cartelonenergia.png) no-repeat 36px 120px;
}

#izquierda.energiaeu {
    height: 198px;
    background: url(img/cartelonenergiaeu.png) no-repeat 36px 120px;
}

#izquierda.agua {
    height: 198px;
    background: url(img/cartelonagua.png) no-repeat 36px 120px;
}

#izquierda.aguaeu {
    height: 198px;
    background: url(img/cartelonaguaeu.png) no-repeat 36px 120px;
}

#izquierda.transporte {
    height: 198px;
    background: url(img/cartelontransporte.png) no-repeat 36px 120px;
}

#izquierda.transporteeu {
    height: 198px;
    background: url(img/cartelontransporteeu.png) no-repeat 36px 120px;
}

#izquierda.residuos {
    height: 198px;
    background: url(img/cartelonresiduos.png) no-repeat 36px 120px;
}

#izquierda.residuoseu {
    height: 198px;
    background: url(img/cartelonresiduoseu.png) no-repeat 36px 120px;
}

#izquierda h3,
#central h2 {
    font-size: 2.3em;
    line-height: 1.2em;
}

#izquierda h3 span {
    font-size: .7em;
}

#izquierda p {
    margin-top: 15px;
    font-size: 1.3em;
    line-height: 1.4em;
}

#derecha {
    float: left;
    text-align: left;
    width: 419px;
    padding-top: 70px;
    margin-left: 57px;
}

#derecha div.cartela {
    background-image: url(img/cartela.png);
    background-repeat: no-repeat;
    text-align: left;
    font-size: 1.4em;
    width: 379px;
    height: 215px;
    padding: 20px;
}

#derecha div.cartela p {
    width: 400px;
    float: left;
    margin-bottom: 10px;
}

#derecha div.cartela img {
    float: left;
}

#central {
    float: left;
    margin-left: 16px;
    text-align: left;
    width: 944px;
    background-image: url(img/separador.png);
    background-repeat: no-repeat;
    padding-top: 50px;
    margin-bottom: 50px;
}

#central.only {
    background-image: none;
}

#central p {
    clear: both;
    width: 770px;
    font-size: 1.3em;
    line-height: 1.4em;
    margin-bottom: 5px;
}

#central p.presentacion {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-bottom: 0;
}

#central p.portada {
    width: 197px;
    font-size: 1.5em;
    line-height: 1.4em;
    margin-bottom: 0;
}

#central p.nota {
    margin-bottom: 15px;
}

#central p span {
    float: left;
    padding-bottom: 10px;
    padding-right: 20px;
    display: block;
    width: 340px;
}

#central p span.largo {
    width: 500px;
}

#central ul {
    margin-left: 100px;
    margin-right: 80px;
}

#central ul li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #666666;
}

#central ul li.final {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: none;
    text-align: center;
}

#central ul.resultados {
    margin-right: 20px;
}

#central ul.resultados li {
    font-size: 1.4em;
}

#central ul.resultados li span.residuos {
    font-size: 1.3em;
    font-weight: bold;
}

#central ul.resultados li a {
    text-decoration: underline;
}

#central ul.distribuidor {
    margin: 0;
}

#central ul.distribuidor li {
    margin-top: 30px;
    margin-right: 10px;
    float: left;
    display: inline;
    width: 197px;
    height: 133px;
    padding: 15px;
    background-repeat: no-repeat;
    border: none;
}

#central ul.distribuidor li.energia {
    background-image: url(img/cartelillaenergia.png);
}

#central ul.distribuidor li.energiados {
    background-image: url(img/cartelillaenergia2.png);
}

#central ul.distribuidor li.agua {
    background-image: url(img/cartelillaagua.png);
}

#central ul.distribuidor li.aguados {
    background-image: url(img/cartelillaagua2.png);
}

#central ul.distribuidor li.transporte {
    background-image: url(img/cartelillatransporte.png);
}

#central ul.distribuidor li.transportedos {
    background-image: url(img/cartelillatransporte2.png);
}

#central ul.distribuidor li.residuos {
    margin-right: 0;
    background-image: url(img/cartelillaresiduos.png);
}

#central ul.distribuidor li.residuosdos {
    margin-right: 0;
    background-image: url(img/cartelillaresiduos2.png);
}

#central ul li a {
    text-decoration: none;
    color: #666666;
}

#central ul li a:hover {
    text-decoration: underline;
}

#central ul.distribuidor li h4 {
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 2em;
}

#central ul.distribuidor li.energiados a,
#central ul.distribuidor li.aguados a,
#central ul.distribuidor li.transportedos a,
#central ul.distribuidor li.residuosdos a {
    color: #CCCCCC;
}

#central ul.distribuidor li.energiados a:hover,
#central ul.distribuidor li.aguados a:hover,
#central ul.distribuidor li.transportedos a:hover,
#central ul.distribuidor li.residuosdos a:hover {
    text-decoration: none;
}

#central ul.distribuidor li p {
    font-size: 1.2em;
}

#central h4 {
    font-size: 1.9em;
    line-height: 1em;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 15px;
}

#central input.campo {
    width: 75px;
    font-size: 1.1em;
    border: 1px solid #999999;
    vertical-align: middle;
}

#central table input.campo {
    font-size: 1.4em;
}

#central table.blanca input.campo {
    font-size: 1.2em;
}

#central input.boton {
    background-color: #b2e37f;
    border: 1px solid #999999;
    font-size: 1.4em;
    vertical-align: middle;
}

#central table.blanca input.boton {
    background-color: #b2e37f;
    border: 1px solid #999999;
    font-size: 1.1em;
    vertical-align: middle;
    margin-left: 342px;
}

#central input.boton2 {
    background-color: #b2e37f;
    border: 1px solid #999999;
    font-size: 1em;
    vertical-align: middle;
}

#central input.boton3 {
    background-color: #b2e37f;
    border: 1px solid #999999;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#central input.botonfinal {
    background-color: #b2e37f;
    border: 1px solid #999999;
    font-size: 1.4em;
    vertical-align: middle;
    margin: 0 auto;
}

#central table {
    background-color: #e9e9e9;
    width: 760px;
}

#central table tr {
    padding: 0;
}

#central table td.superior {
    padding-top: 10px;
}

#central table td.calculo {
    padding-left: 10px;
    width: 350px;
    font-size: 1.5em;
}

#central table.blanca td {
    padding: 10px 0 10px 15px;
    font-size: 1.2em;
    text-align: left;
}

#central table.blanca td.titular {
    font-size: 1.5em;
}

#dinamico,
#dinamico2,
#dinamico3,
#dinamicou,
#dinamicou2,
#dinamico2u,
#dinamico2u2,
#dinamico3u,
#dinamico3u2 {
    display: inline;
}

#central table td.nota {
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
}


/*Pie*/

#pie {
    clear: both;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

#pie p {
    font-size: 1.1em;
}

#pie p a {
    color: #666;
}